html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  left: 20%;
  top: 20%;
  max-width: 30em;
  transform: translate(5%, 5%);
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  color: #fff;
  background-color: #3c3c3c;
  padding: .75em;
}

.btn:hover {
  background-color: #000;
}

.banner-content img {
  display: block;
  float: left;
  width: 50%;
}

h2 {
  display: inline;
  margin: 0;
  float: right;
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  display: block;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
}

.btn-big {
  font-size: 1.5rem;
}
